html,
body,
#root
{
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: 221C1C; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.sectionCanvas
{
    height: 300px;
    width: 400px;
}

canvas
{
    touch-action: none;
    z-index: 1;
}

.htmlScreen iframe
{
    width: 1024px;
    height: 670px;
    border: none;
    border-radius: 20px;
    background: black;
}

section{
    display: block;
    background: lightslategrey;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

h1
{
    color: whitesmoke;
    padding: 0;
    margin: 0;
}

body {
    background: #101060;
  }